/* Styles for footer */

.footer {
	display: flex;
	justify-content: space-between;
	height: 98px;
	width: 100%;
	background-color: #f0f0f0;
}
.footer-privacy {
	display: flex;
	align-items: center;
}

.footer-privacy-elem{
	color: #000;
}
.footer-privacy-elem:last-child{
	margin-left: 17px;
}
.footer-privacy-elem:first-child {
	margin-left: 150px;
}


.footer-social{
	display: flex;
	align-items: center;
	
}

.footer-text{
	width: 42px;
	height: 12px;
	color: #000000;
	font-family: "Playfair Display";
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 10px;
}

.footer-social-img {
	filter: invert(100%);
	margin: 21px;
}

.footer-social-img:hover {
    filter: grayscale(0%);
}

.footer-social:last-child {
    margin-right: 150px;
}


@media screen and (max-width: 755px) { 
	.footer-social:last-child {
		margin-right: 10px;
	}
	.footer-privacy-elem:first-child {
		margin-left: 10px;
	}
	}

