.comments {
    max-width: 4209px;
    margin-left: 151px;
    margin-right: 151px;
}
.comment__count {
    margin-top: 67px;
    margin-bottom: 43px;
    color: #b4ad9e;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    text-transform: uppercase;
}
.comment__img {
    max-height: 70px;
    max-width: 69px;
    border-radius: 50%;
    margin-right: 38px;
}

.comment__name {
    
    color: #626262;
    font-family: "Playfair Display";
    font-size: 14px;
    font-weight: 700;
    text-align: left;

}
.comment__text {
    margin-top: 15px;
    margin-bottom: 38px;
    color: #626262;
    font-family: "Playfair Display";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}


.comment__container{
    display: flex;
    flex-direction: row;

}
.comment__block{
    text-align: justify;
}

.comment__reply{
    display: block;
    color: #b4ad9e;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 57px;
}

.comment__form{
    display: flex;
    margin-bottom: 126px;
}

.comment__input{
    border-radius: 5px;
    border: 1px solid #c8c8c8;
    height: 70px;
    width:  100%;
}
.comment__input[placeholder]{
    color: #c8c8c8;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    text-transform: uppercase;
    padding-left: 34px;
}
.comment__input:focus::input-placeholder{
    color: while;
}
