/* Styles for header */

.header {
	display: flex;
	justify-content: space-between;
	margin-top: 68px;
	
}
.header__logo {
	margin-left: 69px;
}


.header__logo-img {
	height: 23px;
	width: 119px;
}

.header__nav {
	width: 500px;
	justify-content: space-between;
	display: flex;
	align-items: center;
	margin-right: 68px;

}
.header__nav-elem {
	color: #626262;
	font-family: "Playfair Display";
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
}

@media screen and (max-width: 755px) 
	{ 
	.header__logo{
		margin-left: 0px;
	}
	.header__logo-img {
		visibility: hidden;
		margin-left: 0px;
		
	}
	.header__nav {
		width: 100%;
		margin-right: 100px;
	} 
	.header__nav-elem {
		font-size: 7px;
		display: inline-flex;
	}
} 

@media screen and (max-width: 500px) {
	.header{
		display: block;
		margin-top: 0px;
	}

	.header__nav {
		width: 500px;
		background: rgb(228, 228, 228);
		justify-content: space-around;
		display: flex;
		align-items: baseline;
		padding-right: 30px;
	
	}

}


