
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.bigred{
	font-size: 20px;
	color: red;
}


/* Start css */

.header {
	display: flex;
	justify-content: space-between;
	margin-top: 68px;
	
}
.header__logo {
	margin-left: 69px;
}


.header__logo-img {
	height: 23px;
	width: 119px;
	
}

.header__nav {
	width: 500px;
	justify-content: space-between;
	display: flex;
	align-items: center;
	margin-right: 68px;

}
.header__nav-elem {
	color: #626262;
	font-family: "Playfair Display";
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
}


.content {
	margin-top: 162px;
	margin-left: 150px;
	margin-right: 151px;
	
}

.page-title{	
	color: #626262;
	font-family: "Playfair Display";
	font-size: 32px;
	text-align: left;
	margin-bottom: 40px;
}

.content__wrapper {
	display: flex;
	margin: -40px -40px;
	flex-wrap:wrap;

}
.content__element {
	padding: 40px 40px;
	flex: 1 1 50%;
}


.content__img {
	height: 279px;
	width: 420px;
}



.content_subtitles {
	padding-top: 32px; 
	color: #b4ad9e;
	font-family: Ubuntu;
	font-size: 14px;
	font-weight: 300;
	text-align: left;
	text-transform: uppercase;
}

.content__titles {
	display: inline-block;
	padding-top: 28px; 
	padding-bottom: 34px;
	color: #626262;
	font-family: "Playfair Display";
	font-size: 30px;
	text-align: left;
	}

.content_preview {
	display: block;
	color: #626262;
	font-family: "Playfair Display";
	font-size: 14px;
	line-height: 24px;
	text-align: left;
}
.pagination {
	margin-top: 79px;
	margin-bottom: 62px;
	text-align: center;

}

.pagination__btn {
	width: 32px;
	height: 32px;
	border: 2px solid #b4ad9e;
	background-color: #b4ad9e;
	color: #ffffff;
}
.pagination__btn:hover {
	background-color: white;
	color: #b4ad9e;
	border: 2px solid #b4ad9e;
}

.pagination__btn:active {
	background-color: #f5c763;
}

.footer {
	display: flex;
	justify-content: space-between;
	height: 98px;
	width: 100%;
	background-color: #f0f0f0;
}
.footer__privacy {
	display: flex;
	align-items: center;
}

.footer__privacy-elem{
	color: #000;
}
.footer__privacy-elem:last-child{
	margin-left: 17px;
}
.footer__privacy-elem:first-child {
	margin-left: 150px;
}


.footer__social{
	display: flex;
	align-items: center;
	
}

.footer__text{
	width: 42px;
	height: 12px;
	color: #000000;
	font-family: "Playfair Display";
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 10px;
}

.footer__social-img {
	filter: invert(100%);
	margin: 21px;
}

.footer__social-img:hover {
    filter: grayscale(0%);
}

.footer__social:last-child {
    margin-right: 150px;
}

